body {
	background-image: url('background.jpg');
	background-size: cover;
}

h1 {
	text-align: center;
}

.formLuas {
	margin-left: 350px;
}

.formKeliling {
	margin-right: 350px;
}

table {
	border-style: solid;
	text-align: center;
}

.tableLuas {
	float: left;
}

.tableKeliling {
	float: right;
}

.thead {
	background-color: #FF7F00;
}

.submitLuas {
	border-radius: 50px;
	background-color: #FF7F00;
}

.resetLuas {
	border-radius: 50px;
	background-color: #FF7F00;
}

.submitKeliling {
	border-radius: 50px;
	background-color: #FF7F00;
}

.resetKeliling {
	border-radius: 50px;
	background-color: #FF7F00;
}

input {
	border: 1px solid;
	border-radius: 50px;
}

.kalmat {
	text-align: left;
}